@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  color: black;
  font-family: "Montserrat", sans-serif;
}

.btn {
  display: inline-block;
  margin-top: 4rem;
  text-transform: uppercase;
  font-size: 2.5rem;
  padding: 2rem 6rem;
  text-decoration: none;
  color: white;
  border: 2px solid #eb1164;
  transition: background-color 0.2s ease-in;
}
.btn:hover {
  background-color: #eb1164;
}

.nav-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: white;
  position: fixed;
  z-index: 99;
  padding: 2rem 4rem;
  align-items: center;
  transition: background 0.5s ease-in-out;
}
.nav .menu {
  position: absolute;
  width: 0;
  height: 100vh;
  background: #1f1e1e;
  top: 0;
  right: 0;
  transition: width 0.5s ease-in-out;
}
.nav .menu ul {
  position: relative;
  top: 50%;
  text-align: center;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  list-style: none;
}
.nav .menu ul li {
  font-size: 2.8rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 4rem;
}
.nav .menu ul li:last-child {
  margin-bottom: 0;
}
.nav__logo {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
}
.nav__logo span {
  color: #eb1164;
}
.nav__menu-hambur {
  position: absolute;
  z-index: 50;
  cursor: pointer;
  top: 5px;
  right: 4rem;
  width: 50px;
  height: 50px;
  border: 2px solid white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__menu-hambur .line {
  width: 2.7rem;
  height: 2px;
  background: white;
  margin-bottom: 5px;
  position: relative;
  top: 0;
  transition: top 0.5s ease-in-out;
}
.nav__menu-hambur .line:last-child {
  margin-bottom: 0;
}
.nav__menu-hambur::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border: 2px solid white;
  border-radius: 50%;
  animation: scaling 1s ease-in-out infinite;
}
.nav__menu {
  display: none;
}
.nav__menu ul {
  display: flex;
  list-style: none;
  justify-content: flex-end;
}
.nav__menu ul li {
  text-decoration: none;
  font-size: 2rem;
  text-transform: uppercase;
  margin-left: 4rem;
  cursor: pointer;
  letter-spacing: 3px;
}
.nav__menu ul li:hover {
  color: #eb1164;
}

@keyframes scaling {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.4);
    opacity: 0;
  }
}
.header {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url("./images/hero-bg.png");
  background-size: cover;
  background-position: top center;
}
.header::before {
  width: 100%;
  height: 100vh;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background: black;
  opacity: 0.7;
}
.header-container {
  position: absolute;
  top: 50%;
  left: 12rem;
  transform: translateY(-50%);
}
.header-container span {
  position: absolute;
  top: 0;
  height: 100%;
  background-color: #eb1164;
  animation: scroll-to-right 2s ease-in-out;
}
.header-container h1 {
  position: relative;
  width: fit-content;
  color: white;
  font-size: 7rem;
  font-weight: 700;
}
.header-container h1:nth-child(1) {
  animation: fade-in 3s;
}
.header-container h1:nth-child(1) span {
  animation-delay: 1s;
}
.header-container h1:nth-child(2) {
  animation: fade-in 5s;
}
.header-container h1:nth-child(2) span {
  animation-delay: 3s;
}
.header-container p {
  position: relative;
  font-size: 7rem;
  color: #eb1164;
  width: fit-content;
  animation: fade-in 7.5s;
}
.header-container p span {
  animation-delay: 5s;
}

@keyframes scroll-to-right {
  0% {
    left: 0;
    width: 0;
  }
  50% {
    left: 0;
    width: 100%;
  }
  100% {
    left: 100%;
    width: 0;
  }
}
@keyframes fade-in {
  0% {
    color: transparent;
  }
  80% {
    color: transparent;
  }
}
.services-container {
  width: 98%;
  margin: 50px auto;
}
.services__text {
  width: 40%;
  margin: 0 auto;
  text-align: center;
}
.services__text h1 {
  font-size: 6rem;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.services__text h1 span {
  color: #eb1164;
}
.services__text p {
  font-size: 1.5rem;
  line-height: 1.7;
}
.services .item-title {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}
.services .item-desc {
  font-size: 1.5rem;
  line-height: 1.8;
}
.services__list {
  margin-top: 8rem;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}
.services__item {
  position: relative;
  width: calc(24% - 20px);
  overflow: hidden;
  padding: 3rem 3rem 3rem 2.5rem;
  border-radius: 1.5rem;
  color: white;
}
.services .item__layout {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("./images/img-1.png");
  background-size: cover;
  background-position: center;
  z-index: -1;
}
.services .item__layout::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(22, 30, 58, 0.8);
  z-index: 0;
}

.projects-container {
  width: 90%;
  margin: 0 auto;
  margin-top: 150px !important;
  text-align: center;
}
.projects__title {
  font-size: 6rem;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 5rem;
}
.projects__title span {
  color: #eb1164;
}
.projects__list {
  display: flex;
  flex-direction: column;
}
.projects__item {
  display: flex;
  width: 100%;
  height: 60vh;
}
.projects__item:nth-child(even) .item__image {
  order: -1;
}
.projects__item:hover .item__image {
  background-size: 110%;
}
.projects .item__information {
  width: 50%;
  text-align: left;
  padding: 10rem 4rem 10rem 3rem;
  background-color: #394551;
  color: white;
}
.projects .item__information h2 {
  font-size: 4rem;
  font-weight: 400;
  margin-bottom: 1rem;
}
.projects .item__information h3 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}
.projects .item__information p {
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 300;
}
.projects .item__image {
  width: 50%;
  height: 100%;
  background: url("./images/img-1.png") no-repeat;
  background-size: 100%;
  background-position: center;
  position: relative;
  transition: background-size 0.5s ease;
}
.projects .item__image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(43, 49, 73, 0.6);
}

.about-container {
  width: 85%;
  margin: 200px auto;
  display: flex;
}
.about__image {
  width: 30%;
  height: 65vh;
  margin-right: 10rem;
  position: relative;
}
.about__image .img {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("./images/img-2.png") no-repeat;
  background-position: center;
  background-size: cover;
  border: 1rem solid white;
  top: 0;
  left: 7rem;
}
.about__image .img::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 3rem;
  left: -5rem;
  border: 1rem solid #dc143c;
  z-index: -1;
}
.about__content {
  flex: 1;
}
.about__content h1 {
  font-size: 6rem;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 2rem;
}
.about__content h1 span {
  color: #eb1164;
}
.about__content h3 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  font-weight: 400;
}
.about__content p {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.5;
}
.about__content .btn {
  color: black;
  padding: 1rem 2rem;
  font-size: 2rem;
}

.contact-container {
  width: 90%;
  margin: 250px auto;
  text-align: center;
}
.contact h1 {
  font-size: 7rem;
  font-weight: 300;
  text-transform: uppercase;
}
.contact h1 span {
  color: #eb1164;
}
.contact__list {
  display: flex;
  justify-content: space-between;
}
.contact__item {
  width: calc(33% - 1.5rem);
  border-radius: 1.5rem;
  box-shadow: 0px 0px 16px -5px gray;
  padding: 3rem 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.contact__item img {
  transform: scale(0.7);
}
.contact__item .item__information {
  text-align: left;
  margin-left: 1rem;
}
.contact__item .item__information h3 {
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 1rem;
}
.contact__item .item__information p {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.footer {
  background: #333d49;
}
.footer-container {
  width: fit-content;
  padding-top: 5rem;
  padding-bottom: 1rem;
  margin: auto;
  text-align: center;
}
.footer h2 {
  font-size: 3rem;
  text-transform: uppercase;
  color: white;
  font-weight: 400;
  margin-bottom: 1.5rem;
}
.footer h2 span {
  color: #eb1164;
}
.footer p {
  color: white;
  font-size: 1.5rem;
  font-weight: 300;
}
.footer p:nth-child(2) {
  font-size: 2rem;
  font-weight: 400;
}
.footer p:nth-child(4) {
  margin-top: 3rem;
}
.footer__socials {
  width: 70%;
  margin: 1rem auto;
  display: flex;
  justify-content: space-between;
}
.footer__socials img {
  position: relative;
  width: 50px;
  height: 50px;
  filter: grayscale(100%);
  transition: filter 0.3s ease-in-out;
  cursor: pointer;
}
.footer__socials img:hover {
  filter: grayscale(0%);
}

@media screen and (min-width: 1200px) {
  .nav__menu {
    display: block;
  }
  .nav__menu-hambur {
    display: none;
  }
  .nav .menu {
    display: none;
  }
}
@media screen and (max-width: 1199px) {
  .services__item {
    width: calc(50% - 20px);
    margin-bottom: 8rem;
  }
}
@media screen and (max-width: 799px) {
  .services__text {
    width: 60%;
  }
  .services__item {
    width: 100%;
    margin: 0 4rem 8rem 4rem;
  }

  .projects__item {
    flex-direction: column;
    height: fit-content;
    border-radius: 1.5rem;
    margin-bottom: 7rem;
    overflow: hidden;
  }
  .projects__item:nth-child(even) .item__image {
    order: 1;
  }
  .projects .item__information {
    width: 100%;
  }
  .projects .item__image {
    width: 100%;
    height: 50vh;
  }

  .about-container {
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
  }
  .about__content {
    text-align: center;
  }
  .about__image {
    width: 60%;
    order: 1;
    margin-top: 7rem;
  }
}
@media screen and (max-width: 699px) {
  .header-container {
    left: 20%;
  }
  .header h1 {
    font-size: 4rem;
  }
  .header p {
    font-size: 4rem;
  }
  .header .btn-primary {
    font-size: 2rem;
    padding: 1.5rem 4rem;
  }

  .services h1 {
    font-size: 5rem;
  }
  .services__text {
    width: 70%;
  }
}

/*# sourceMappingURL=style.css.map */
